

<style>
  	h1  {
    	color: #D3877D;
    	font-size: 1em;
    	margin-bottom: .3em;
    	text-align: center;
    	font-family: helvetica;
	}
	header {
    	color: #D3877D;
    	font-size: 1em;
    	margin-bottom: .3em;
    	text-align: center;
    	font-family: helvetica;
	}
	</style>